[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 13.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 13.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 13.0

[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 13.0
